/* h1{
    color: aqua;
    
    background-color: black;

} */

        body{
            background-color: rgb(43, 226, 98);
        }

        /* button{
            background-color: pink;
            color: black;
        } */


        h3{
            color:black;
        }