h1{
    color: aqua;
    
    background-color: black;

}

        body{
            background-color: rgb(226, 43, 101);
        }

        button{
            background-color: pink;
            color: black;
        }