h1{
    color: aqua;
    
    background-color: black;

}

        body{
            background-color: blueviolet;
        }

        button{
            background-color: pink;
            color: black;
        }